<html>
    <head>
        <title>Sarah WR</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Sarah's Homemade Python Blog</a></h1>
        </div>

        <div>
            <p>published: 02.06.2018, 15:45</p>
            <h2><a href="">My first post</a></h2>
            <p>Hello, world! I guess I have to type that, right?.</p>
        </div>

        <div>
            <p>published: 02.06.2018, 15:52</p>
            <h2><a href="">My second post</a></h2>
            <p>This feels very powerful, but I must admit that I still have no idea what I'm doing. How could I do this without a tutorial or a coach? In any case, this is the farthest I've ever gotten in coding and that is pretty damn exciting. :P.</p>
        </div>
    </body>
</html>
