<html>
    <head>
        <title>Sarah WR</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Sarah's Homemade Python Blog</a></h1>
        </div>

      {% for post in posts %}
        <div>

            <p>published: {{ post.published_date }}</p>
            <h1><a href="">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>

        </div>
      {% endfor %}

        <div>
            <p>published: 02.06.2018, 15:52</p>
            <h2><a href="">My second post</a></h2>
            <p>This feels very powerful, but I must admit that I still have no idea what I'm doing. How could I do this without a tutorial or a coach? In any case, this is the farthest I've ever gotten in coding and that is pretty damn exciting. :P.</p>
        </div>
    </body>
</html>
